html,body{
  background-color: @body-bg;
}
.site-footer > .container{
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
}
.site-header > .container {
  background-color: #ffffff;
  padding: 20px 10px 0 10px;
}
.site-content > .container{
  background-color: #ffffff;
}
.site-content > .container{
  padding-bottom: @padding-quarter;
}
.site-content_left-aside{
  overflow: hidden;
  padding-left: 10px;
  zoom: 1;
}
.site-content_right-aside{
  width: 300px;
  margin:0 10px 0 @margin-quarter;
  float: right;
}